.input-area {
    font-size: 1rem;
    border-radius: 10rem;
    border: solid 2px grey;
    padding: 0.5rem 2rem;
    font-weight: 400;
    font-style: italic;
}

/* media query for input area to have font size of 2rem above screen size of 576px*/
@media (min-width: 576px) {
    .input-area {
        font-size: 1.5rem;
    }
}


.buttons {
    display: flex;
    column-gap: 20px;
}

.buttons button {
    border: solid 1px grey;
    border-radius: 10rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all .3s;
    transition-timing-function: cubic-bezier(0.28, 3.99, 0, -0.66);
    font-size: 1rem;
}

.buttons button:hover {
    background-color: aquamarine;
}

.Heading {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.Main {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 2rem;
    border: solid 1px rgb(37, 155, 153);
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    box-shadow: 6px 6px teal;
}

.strength-display {
    width: 80%;
}
